<main class="">
    <div class="text-white text-center m-4">
        <h1 class="">Centro de Control de Tiendas</h1>
        <h2 class="">UIN Foods</h2>
    </div>
    <div class="d-flex justify-content-around">
        <% @stores.each do |store| %>
            <div
            data-controller="poll"
            data-poll-url-value="<%= show_path(store) %>"
            data-poll-refresh-interval-value="30000"
        >
            This content will be reloaded every 30 seconds.
        </div>
        <% end %>
    </div>
</main>