/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @font-face{
    font-family: "adineue PRO";
    src: url("b82329475307e0380dc1ea23f0c35266.eot");
    src: url("b82329475307e0380dc1ea23f0c35266.eot?#iefix")format("embedded-opentype"),
        url("b82329475307e0380dc1ea23f0c35266.woff")format("woff"),
        url("b82329475307e0380dc1ea23f0c35266.woff2")format("woff2"),
        url("b82329475307e0380dc1ea23f0c35266.ttf")format("truetype"),
        url("b82329475307e0380dc1ea23f0c35266.svg#adineue PRO")format("svg");
    font-weight:normal;
    font-style:normal;
    font-display:swap;
}
@font-face{
    font-family: "adineue PRO Bold";
    src: url("1938eca97ab5576ba37b537143f552ef.eot");
    src: url("1938eca97ab5576ba37b537143f552ef.eot?#iefix")format("embedded-opentype"),
        url("1938eca97ab5576ba37b537143f552ef.woff")format("woff"),
        url("1938eca97ab5576ba37b537143f552ef.woff2")format("woff2"),
        url("1938eca97ab5576ba37b537143f552ef.ttf")format("truetype"),
        url("1938eca97ab5576ba37b537143f552ef.svg#adineue PRO Bold")format("svg");
    font-weight:normal;
    font-style:normal;
    font-display:swap;
}